<!-- Logo and Title -->
<div class="row">
  <div class="col-12">
    <h1 class="title"><strong>Eat Da Burger!</strong></h1>
    <img class="logo" src="/assets/images/chicken-burger-png.png" alt="burger">
    
  </div>
</div>

<!-- Form to Submit Burger Names -->
<div class="row">
  <div class="col-12">
    <form id="addForm">
      <div class="form-group">
        <label for="burgerName">Enter a burger you prefer</label>
        <input id="burgerName" class="form-control" type="text" placeholder="e.g Double Cheese Burger" required>
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>

<div class="row">
  <!-- Burger Menu -->
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">Burger List</div>
      <div class="card-body">
        <ul>
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured=false}}
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <!-- Devoured Burgers List -->
  <div class="col-12 col-md-6">
    <div class="card devoured-card">
      <div class="card-header devoured-header">Devoured Burgers</div>
      <div class="card-body">
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>