<li>
  {{#unless devoured}}
    {{burger_name}}
    <button type="button" data-id="{{id}}" class="devourBtns">EAT IT!!!</button>
  {{else}}
    <span class="devoured">{{burger_name}}</span>
  {{/unless}}
</li>